.scroll_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3498DB; /* Change to your preferred color */
    color: white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.scroll_top.icon-visible {
    opacity: 1; /* Make it visible */
}

.scroll_top:not(.icon-visible) {
    opacity: 0; /* Make it invisible */
}